
 #sketch-container{
  width: 100%;
  height: 100%;
} 

h2{
  text-align:center;
  font-size: 350%;
  margin-bottom: 15px; 
  font-family: LiSu;
}
p{
  font-size: 200%;
}
.author {
  display: flex; 
  margin-left: 700px; 
}
.author p {
  font-family: LiSu;
  font-size: 100%;
  display: inline-block; 
  margin-right: 10px; 
}

.line1 {
  display: flex; 
  margin-left: 560px; 
}
.line1 p {
  display: inline-block; 
  font-family: LiSu;
  margin-right: 10px; 
}

.line2 {
  display: flex; 
  margin-left: 560px; 
}
.line2 p {
  display: inline-block; 
  font-family: LiSu;
  margin-right: 10px; 
}

.line3 {
  display: flex; 
  margin-left: 560px; 
}
.line3 p {
  display: inline-block; 
  font-family: LiSu;
  margin-right: 10px; 
}

.line4 {
  display: flex; 
  margin-left: 560px; 
  
}
.line4 p {
  display: inline-block; 
  font-family: LiSu; 
  margin-right: 10px;
}


#rectangle{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* align-items: center; */
  width:800px;
  height:670px;
  background:rgba(255, 255, 255, 0.674);
}

@font-face {
  font-family: 'MyFont'; 
  src: url('fonts/HanChengWangShiLiXingShu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* font-size: 16px; */
}